<!DOCTYPE html>
<html>
<head>
  <title>Helios Energeia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
    <body>

        <div id="header">
            <%= image_tag "banHelios.png" %>
        </div>
	
<div id="menu">
	<ul>
		<li><%= link_to"Accueil", root_path %></li>
		<li><%= link_to"Qui sommes-nous", whoarewe_index_path %><li>
		<li><a href="/inprogress.html"  title="" >Services</a></li> <!-- <%= link_to"Services", services_index_path %> -->
		<li><a href="/inprogress.html"  title="" >Solutions</a></li>
		<li><%= link_to"Grands projets", grandprojet_index_path %></li>
		<li><%= link_to("Être contacté", new_contact_path) %></li>
		<li><a href="/inprogress.html"  title="" >Admin</a></li> <!-- <%= link_to "Admin", contacts_path %> -->
	</ul>
	
</div>


            <div id="content">
                <%= yield %>
            </div>
            <div id="footer">
                <p>Copyright &copy; 2012 Helios Energia.</p>
            </div>

        </div>
    </body>
</html>